<%= form_for(@entity) do |f| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% @entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :disambiguator %><br>
    <%= f.text_field :disambiguator %>
  </div>
  <div class="field">
    <%= f.label :entity_type %><br>
    <%= f.select "entity_type", options_for_select(Entity::Type::ALL_TYPES, @entity.entity_type) %>
  </div>
  <div id="person">
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select "gender", options_for_select(Entity::Gender::ALL_TYPES, @entity.gender) %>
  </div>
  <div class="field">
    <%= f.label :race_description %><br>
    <%= f.collection_check_boxes(:race_description_ids, RaceDescription.all, :id, :race_description) %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br>
    <%= f.date_select :birth_date, {:include_blank => true, :default => nil, :start_year => 1800, :end_year => 2000} %>
  </div>
  <div class="field">
    <%= f.label :death_date %><br>
    <%= f.date_select :death_date, {:include_blank => true, :default => nil, :start_year => 1800, :end_year => 2000} %>
  </div>
  </div>
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area :biography %>
  </div>
  <div id="place">
    <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :lat %>
  </div>
    <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :long %>
  </div>
  </div>
  <div class="field">
    <%= f.label :bibliography %><br>
    <%= f.text_area :bibliography %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<script>$(document).ready(function () {
  if ($('#entity_entity_type option:selected').val() == 'person') {  
    $('#person').show(); }
  else { $('#person').hide();}    
  if ($('#entity_entity_type option:selected').val() == 'place') {  
    $('#place').show(); }
  else { $('#place').hide();}  
$('#entity_entity_type').change(function () { 
  if ($('#entity_entity_type option:selected').val() == 'person') {  
    $('#person').show(); }
  else { $('#person').hide();}    
  if ($('#entity_entity_type option:selected').val() == 'place') {  
    $('#place').show(); }
  else { $('#place').hide();}  
});
});</script>
