<%= form_for(@entity) do |f| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% @entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-md-4">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :disambiguator %><br>
    <%= f.text_field :disambiguator %>
  </div>
  <div class="field">
    <%= f.label :entity_type %><br>
    <%= f.select "entity_type", options_for_select(Entity::Type::ALL_TYPES, @entity.entity_type) %>
  </div>
  <div id="person">
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select "gender", options_for_select(Entity::Gender::ALL_TYPES, @entity.gender) %>
  </div>
  <div class="field">
    <%= f.label :race_description %><br>
    <%= f.collection_check_boxes(:race_description_ids, RaceDescription.all, :id, :race_description) %>
  </div>
  </div>
  <div id="personandorg">
  <div class="field">
    <span id="creationdate"><%= f.label :creation_date %></span><span id="birthdate"><%= f.label :birth_date %></span><br>
    <%= f.text_field :birth_date %>
    <br>examples: 2001-09-30, 2001-09, unknown, c2001-09
  </div>
  <div class="field">
    <span id="deathdate"><%= f.label :death_date %></span><span id="dissolutiondate"><%= f.label :dissolution_date %></span><br>
    <%= f.text_field :death_date %>
    <br>examples: 2001-09-30, 2001-09, unknown, c2001-09
  </div>
  </div>
  <div id="place">
    <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :lat %>
  </div>
    <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :long %>
  </div>
  </div>
    <div class="field">
      <label>Reference ID:</label>
      <%= @entity.ref_id %>
    </div>
  </div>
  <div class="col-md-8">
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area(:biography, size: "80x15") %>
    <p>The biography field supports markdown syntax.  You can learn more about markdown at <%= link_to "The Programming Historian", "http://programminghistorian.org/lessons/getting-started-with-markdown" , target: :_blank %>.</p>
  </div>
  <div class="field">
    <%= f.label :bibliography %><br>
    <%= f.text_area(:bibliography, size: "80x10") %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
    <%= f.submit 'Publish' %>
  </div>

  <% if @annotation %>
  <%= hidden_field_tag(:annotation_id, @annotation.id) %>
  <% end %>

<% end %>

 <td><%= link_to 'Destroy Entity', @entity, method: :delete, data: { confirm: 'Are you sure?' } %> | </td>

<script>$(document).ready(function () {
  if ($('#entity_entity_type option:selected').val() == 'person') {  
    $('#person').show();
    $('#creationdate').hide();
    $('#dissolutiondate').hide();
    $('#birthdate').show();
    $('#deathdate').show(); }
  else { $('#person').hide();
    $('#birthdate').hide();
    $('#deathdate').hide(); 
    $('#creationdate').show();
    $('#dissolutiondate').show();}    
  if ($('#entity_entity_type option:selected').val() == 'place') {  
    $('#place').show(); }
  else { $('#place').hide();}
  if ($('#entity_entity_type option:selected').val() == 'organization' || $('#entity_entity_type option:selected').val() == 'person') {  
    $('#personandorg').show(); }
  else { $('#personandorg').hide();}  
$('#entity_entity_type').change(function () { 
  if ($('#entity_entity_type option:selected').val() == 'person') {  
    $('#person').show(); 
    $('#creationdate').hide();
    $('#dissolutiondate').hide();
    $('#birthdate').show();
    $('#deathdate').show();}
  else { $('#person').hide();
    $('#birthdate').hide();
    $('#deathdate').hide();
    $('#creationdate').show();
    $('#dissolutiondate').show(); }    
  if ($('#entity_entity_type option:selected').val() == 'place') {  
    $('#place').show(); }
  else { $('#place').hide();}
  if ($('#entity_entity_type option:selected').val() == 'organization' || $('#entity_entity_type option:selected').val() == 'person') {  
    $('#personandorg').show(); }
  else { $('#personandorg').hide();} 
});
});</script>