<%= form_for(@entity) do |f| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% @entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :entity_type %><br>
    <%= f.select "entity_type", options_for_select(Entity::Type::ALL_TYPES) %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select "gender", options_for_select(Entity::Gender::ALL_TYPES) %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br>
    <%= f.date_select :birth_date %>
  </div>
  <div class="field">
    <%= f.label :birth_location %><br>
    <%= f.text_field :birth_location %>
  </div>
  <div class="field">
    <%= f.label :death_date %><br>
    <%= f.date_select :death_date %>
  </div>
  <div class="field">
    <%= f.label :death_location %><br>
    <%= f.text_field :death_location %>
  </div>
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area :biography %>
  </div>
    <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :lat %>
  </div>
    <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :long %>
  </div>
  <div class="field">
    <%= f.label :bibliography %><br>
    <%= f.text_area :bibliography %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
