<h3>Choose an entity for <%= @annotation.verbatim %></h3>

<%= form_tag({controller: "annotations", action: "search_identify_annotation"}, method: "get") do %>
  <%= label_tag(:q, "Search for an entity:") %>
  <%= text_field_tag(:q, @verbatim_text) %>
  <%= hidden_field_tag(:annotation_id, @annotation.id) %>
  <%= submit_tag("Search") %>
<% end %>

<% unless @entities.blank? %>
<table>
  <thead>
    <tr>
      <th colspan="3">Name</th>
      <th colspan="3">Birth date</th>
      <th colspan="3">Disambiguator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td colspan="3"><%= entity.name %></td>
        <td colspan="3"><%= entity.birth_date %></td>
        <td colspan="3"><%= entity.disambiguator %></td>
        <td colspan="3"><%= link_to 'Choose', associate_entity_to_annotation_path(entity, @annotation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>

Can't find a matching entity?  
Please <%= link_to 'Create one.', new_entity_path(:annotation_id => @annotation.id) %>
