
<p>
  <strong>Name:</strong>
  <%= @entity.name %>
</p>

<p>
  <strong>Disambiguator:</strong>
  <%= @entity.disambiguator %>
</p>

<p>
  <strong>Entity type:</strong>
  <%= @entity.entity_type %>
</p>

<% if @entity.entity_type == 'person' then %>

<p>
  <strong>Gender:</strong>
  <%= @entity.gender %>
</p>

<p>
  <strong>Race Description:</strong>
  <%= render partial: "race_description", collection: @entity.race_descriptions %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @entity.birth_date %>
</p>

<p>
  <strong>Death date:</strong>
  <%= @entity.death_date %>
</p>

<% if @entity.entity_type == 'place' then %>
<p>
  <strong>Latitude:</strong>
  <%= @entity.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @entity.long %>
</p>
<% end %>

<p>
  <strong>Biography:</strong>
  <%= raw(@markdown.render(@entity.biography)) %>
</p>

<% end %>

<p>
  <strong>Bibliography:</strong>
  <%= @entity.bibliography %>
</p>

<p>
  <strong>Relationships:</strong>

</p>

<%= link_to 'Edit', edit_entity_path(@entity) %> 
<br>
 
<p><strong>Mentioned in Documents:</strong>
<% if @entity.documents.blank? %>
Not mentioned in any documents yet.
<% else %>
<table>
  <tbody>
    <% @entity.documents.reverse.each do |document| %>
      <tr>
        <td><%= link_to document.cwgk_id, bycwgkid_path(document.cwgk_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</p>

<h4>Existing relationships for this entity</h4>
<%= render "relationships/table" %>
