<div class="container-fluid">
<h3><%= @entity.name %></h3>

<div class="row">
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading"><h4>Attributes</h4></div>

<p>
  <strong>Disambiguator:</strong>
  <%= @entity.disambiguator %>
</p>

<p>
  <strong>Entity type:</strong>
  <%= @entity.entity_type %>
</p>

<% if @entity.entity_type == 'person' then %>

<p>
  <strong>Gender:</strong>
  <%= @entity.gender %>
</p>

<p>
  <strong>Race Description:</strong>
  <%= render partial: "race_description", collection: @entity.race_descriptions %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @entity.birth_date %>
</p>

<p>
  <strong>Death date:</strong>
  <%= @entity.death_date %>
</p>
<% end %>

<% if @entity.entity_type == 'place' then %>
<p>
  <strong>Latitude:</strong>
  <%= @entity.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @entity.long %>
</p>
<% end %>

<% if @entity.entity_type == 'organization' then %>
<p>
  <strong>Creation date:</strong>
  <%= @entity.birth_date %>
</p>

<p>
  <strong>Dissolution date:</strong>
  <%= @entity.death_date %>
</p>
<% end %>

<p>
  <strong>Bibliography:</strong>
  <%= @entity.bibliography %>
</p>

<p>
  <strong>Reference ID:</strong>
  <%= @entity.ref_id %>
</p>

<div class="panel-footer clearfix">
<div class="pull-right">
<%= link_to 'Edit', edit_entity_path(@entity) %> 
</div>
</div>

</div>
</div>


<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading"><h4>Biography</h4></div>
<p>
  <%= if @entity.biography.present? then raw(@markdown.render(@entity.biography)) end %>
</p>
<div class="panel-footer clearfix">
<div class="pull-right">
<%= link_to 'Edit', edit_entity_bio_path(@entity) %> 
</div>
</div>
</div>
</div>

<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading">
<h4>Mentioned in Documents</h4></div>
<% if @entity.documents.blank? %>
Not mentioned in any documents yet.
<% else %>
<table>
  <tbody>
    <% @entity.documents.reverse.each do |document| %>
      <tr>
        <td><%= link_to document.cwgk_id, bycwgkid_path(document.cwgk_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</p>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h5>Existing relationships for this entity</h5>
</div>
<%= render "relationships/table" %>
</div>
<%= link_to 'Destroy Entity', @entity, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>