<%= form_for(@relationship) do |f| %>
  <% if @relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationship.errors.count, "error") %> prohibited this relationship from being saved:</h2>

      <ul>
      <% @relationship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <strong>Entity 1:</strong>
  <%= @relationship.entity_1.name %>
</p>

<p>
  <strong>Entity 2:</strong>
  <%= @relationship.entity_2.name %>
</p>

  <div class="field">
    <%= f.label :relationship_type %><br>
    <%= f.select "relationship_type", options_for_select(Relationship::Type::ALL_TYPES) %>
  </div>
  <div class="field">
    <%= f.label :citation %><br>
    <%= f.text_area :citation %>
  </div>
  <p>
  <strong>Created By User:</strong>
  <%= @relationship.user.email %>
</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
