<h1>Create Relationships</h1>

<%= render 'relation' %>

<h4>Existing relationships for these entities</h4>
<table class="table">
  <thead>
    <tr>
      <th>Entity 1</th>
      <th>Entity 2</th>
      <th>Relationship type</th>
      <th>Document</th>
      <th>User</th>
      <th>Citation</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% unless @relationships.nil?
        @relationships.each do |relationship| %>
      <tr>
        <td><%= link_to relationship.entity_1.name, edit_entity_path(relationship.entity_1.id) %></td>
        <td><%= link_to relationship.entity_2.name, edit_entity_path(relationship.entity_2.id) %></td>
        <td><%= relationship.relationship_type %></td>
        <td><%= relationship.document_id.nil? ? '' : Document.find(relationship.document_id).cwgk_id %></td>
        <td><%= relationship.user.email %></td>
        <td><%= relationship.citation %></td>
        <td><%= link_to 'Edit', edit_relationship_path(relationship) %></td>
        <td><%= link_to 'Destroy', relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end
        end %>
  </tbody>
</table>