<h1>Listing relationships</h1>

<table>
  <thead>
    <tr>
      <th>Entity 1</th>
      <th>Entity 2</th>
      <th>Relationship type</th>
      <th>User</th>
      <th>Citation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relationships.each do |relationship| %>
      <tr>
        <td><%= relationship.entity_1 %></td>
        <td><%= relationship.entity_2 %></td>
        <td><%= relationship.relationship_type %></td>
        <td><%= relationship.user %></td>
        <td><%= relationship.citation %></td>
        <td><%= link_to 'Show', relationship %></td>
        <td><%= link_to 'Edit', edit_relationship_path(relationship) %></td>
        <td><%= link_to 'Destroy', relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relationship', new_relationship_path %>
