<div class="container">
<h1>Dashboard for  <%= @current_user.email %> </h1>
<%= form_tag({controller: "documents", action: "search"}, method: "get") do %>
  <%= label_tag(:q, "Search for a document:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<%= form_tag({controller: "entities", action: "search"}, method: "get") do %>
  <%= label_tag(:q, "Search for an entity:") %>
  <%= text_field_tag(:q, "KYR-0001-002-0024") %>
  <%= submit_tag("Search") %>
<% end %>

<h3>My annotated documents</h3>

<table>
  <tbody>
    <% @documents.reverse.each do |document| %>
      <tr>
        <td><%= link_to document.cwgk_id + " " + document.title.chomp(" · Civil War Governors of Kentucky: Early Access"), bycwgkid_path(document.cwgk_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>My entities</h3>
<table>
  <tbody>
    <% @current_user.entities.each do |entity| %>
      <tr>
        <td><%= link_to entity.name, entity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>