<div class="container">
<h1>Admin</h1>

<div class="row">
<div class="col-md-8">

<h3>Statistics</h3>
<table>
  <tbody>
<tr><td>Total Documents: <%= Document.count %></td></tr>
<tr><td>Completed Documents: <%= @completed_documents_count %></td></tr>
<tr><td>Documents Needing Review: <%= @needs_review_documents_count %></td></tr>
<tr><td>Reviewed Documents: <%= @reviewed_documents_count %></td></tr>
<tr><td>Annotations: <%= @annotations_count %></td></tr>
<tr><td>Entities: <%= @entity_count %></td></tr>
<tr><td>Relationships: <%= @relationship_count %></td></tr>
<tr><td>Deeds: <%= @deed_count %></td></tr>
</tbody>
</table>

<h3>Documents Needing Review</h3>

<table>
  <tbody>
    <% @review_documents.reverse.each do |document| %>
      <tr>
        <td><%= link_to document.cwgk_id + " " + document.title.chomp(" · Civil War Governors of Kentucky: Early Access"), bycwgkid_path(document.cwgk_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Race Descriptions</h3>
<table>
  <tbody>
<% RaceDescription.all.each do |rd| %>
      <tr>
        <td><%= rd.race_description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
<%= link_to "Edit Race Descriptions.", race_descriptions_path %>
</div>

<h3>Documents Marked Completed</h3>

<table>
  <tbody>
    <% @complete_documents.reverse.each do |document| %>
      <tr>
        <td><%= link_to document.cwgk_id + " " + document.title.chomp(" · Civil War Governors of Kentucky: Early Access"), bycwgkid_path(document.cwgk_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


</div>

</div>