<h4><%= @document.cwgk_id %>:  <%= @document.title %></h4>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Cwgk:</strong>
  <%= @document.cwgk_id %>
</p>

<p><%= link_to 'Identify Entities', bycwgkid_path(@document.cwgk_id) %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @document.completed %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
