<%= stylesheet_link_tag    'CETEIcean' %>


<h4><%= @document.cwgk_id %>:  <%= @document.title.chomp(" · Civil War Governors of Kentucky: Early Access") %></h4>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Cwgk:</strong>
  <%= @document.cwgk_id %>
</p>

<p><%= link_to 'Identify Entities', bycwgkid_path(@document.cwgk_id) %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @document.completed %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>


<h4>Compare with <a href="http://discovery.civilwargovernors.org/document/KYR-0001-004-0441">Annnotated Version</a></h4>

Contents:

<div id="TEI">
  TEI goes here
</div>
<script>
  var CETEIcean = new CETEI();
  CETEIcean.makeHTML5(`<%= raw(@tei) %>`, function(data) {
    document.getElementById("TEI").innerHTML = "";
    document.getElementById("TEI").appendChild(data);
    CETEIcean.addStyle(document, data);})
</script>


