
<% content_for :page_title do %>
<%=h ("Activity Stream") %>
<% end %>

<% if @user %>
<%=h (" - #{@user.display_name}") %>
<% end %>

<h1>Activity Stream</h1>
<% if @user %><h3><%=h ("User: #{@user.display_name}") %>

</h3><% end %>

<% @deeds.each do |d| %>
<%= "#{time_ago_in_words d.created_at} ago" %>
<%= render(:partial => 'deeds/deed', :locals => { :deed => d }) %><p>

<% end %>