<h4><%= @annotations.first.document.cwgk_id %>:  <%= @annotations.first.document.title %></h4>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @annotations.first.document.title %>
</p>

<p>
  <strong>Cwgk:</strong>
  <%= @annotations.first.document.cwgk_id %>
</p>

<p>
  <strong>Completed?</strong>
  <%= @annotations.first.document.completed %>
</p>

<p>
<%= link_to 'Edit', edit_document_path(@annotations.first.document) %>
</p>

<table>
  <thead>
    <tr>
      <th>Verbatim</th>
      <th>Entity</th>
      <th>Hypothesis annotation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<h5>Annotations</h5>
  <tbody>
    <% @annotations.each do |annotation| %>
      <tr>
        <td><%= link_to annotation.verbatim, "https://hyp.is/" + annotation.hypothesis_annotation_id,  :target => "_blank" %></td>
        <td><%= annotation.entity.name if annotation.entity %></td>
        <td><%= link_to 'Identify', identify_annotation_path(annotation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Next --> Create Relationships', define_relationships_path %>
