<h4> <%= @annotations.first.document.title %></h4>
<p id="notice"><%= notice %></p>

<p>
  <strong>CWGK ID:</strong>
  <%= @annotations.first.document.cwgk_id %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Verbatim</th>
      <th>Entity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<h5>Annotations</h5>
  <tbody>
    <% @annotations.each do |annotation| %>
      <tr>
        <td><%= annotation.prefix + " " %> <%= link_to(annotation.verbatim, "https://hyp.is/" + annotation.hypothesis_annotation_id,  :target => "_blank") %> <%= " " + annotation.suffix %> </td>
        <td><%= link_to annotation.entity.name, edit_entity_path(annotation.entity) if annotation.entity %></td>         
        <td><%= link_to 'Identify', identify_annotation_path(annotation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <%= button_to "Mark Document Complete", mark_complete_path(@annotations.first.document) %>
</p>

<%= link_to 'Next --> Create Relationships', define_relationships_path %>
