<h1>Listing annotations</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Verbation</th>
      <th>User</th>
      <th>Entity</th>
      <th>Hypothesis date</th>
      <th>Hypothesis annotation</th>
      <th>Hypothesis user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annotations.each do |annotation| %>
      <tr>
        <td><%= annotation.document %></td>
        <td><%= annotation.verbation %></td>
        <td><%= annotation.user %></td>
        <td><%= annotation.entity %></td>
        <td><%= annotation.hypothesis_date %></td>
        <td><%= annotation.hypothesis_annotation_id %></td>
        <td><%= annotation.hypothesis_user %></td>
        <td><%= link_to 'Show', annotation %></td>
        <td><%= link_to 'Edit', edit_annotation_path(annotation) %></td>
        <td><%= link_to 'Destroy', annotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annotation', new_annotation_path %>
