<h4> <%= @annotations.first.document.title.chomp(" · Civil War Governors of Kentucky: Early Access") %></h4>
<p id="notice"><%= notice %></p>

<p>
  <strong>CWGK ID:</strong>
  <%= @annotations.first.document.cwgk_id %>
</p>

<% unidentified_annotations = @annotations.select { |annotation| annotation.entity.blank? } %>

<% if unidentified_annotations.empty? %>
All annotations identified
<% else %>

<table class="table">
  <thead>
    <tr>
      <th>Verbatim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<h5>Annotations</h5>
  <tbody>
    <% unidentified_annotations.each do |annotation| %>
      <tr>
        <td><%= annotation.prefix.gsub("\n", "<br />").html_safe + " " + link_to(annotation.verbatim, "https://hyp.is/" + annotation.hypothesis_annotation_id,  :target => "_blank") + " " + annotation.suffix.gsub("\n", "<br />").html_safe %> </td>
        <td><%= link_to annotation.entity.name, edit_entity_path(annotation.entity) if annotation.entity %></td>         
        <td><%= link_to 'Identify', identify_annotation_path(annotation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% unless @annotations.first.document.entities.blank? %>
<h5>People, Places, and Organizations</h5>
<table>
  <tbody>
    <% @annotations.first.document.entities.each do |entity| %>
      <tr>
        <td><%= link_to entity.name, entity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% unless @relationships.blank? %>
<h5>Relationships</h5>
<%= render "relationships/table" %>
<% end %>

<% unless @annotations.first.document.entities.blank? %>
<%= link_to 'Next --> Create Relationships', define_relationships_path %>
<p>
  <%= button_to "Mark Document Complete", mark_complete_path(@annotations.first.document) %>
</p>
<% end %>


