
<p>
  <strong>Document:</strong>
  <%= @annotation.document.title.chomp(" · Civil War Governors of Kentucky: Early Access") %>
</p>

<p>
  <strong>Verbatim:</strong>
  <%= @annotation.verbatim %>
</p>

<p>
  <strong>User:</strong>
  <%= @annotation.user_id %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @annotation.entity %>
</p>

<p>
  <strong>Hypothesis date:</strong>
  <%= @annotation.hypothesis_date %>
</p>

<p>
  <%= link_to 'Hypothesis annotation', 'https://hyp.is/' + @annotation.hypothesis_annotation_id %>
</p>

<p>
  <strong>Hypothesis user:</strong>
  <%= @annotation.hypothesis_user %>
</p>

<%= link_to 'Edit', edit_annotation_path(@annotation) %> |
<%= link_to 'Back', annotations_path %>
