<!DOCTYPE html>
<html>
<head>
  <title>Relator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
		 <li><%= link_to "Dashboard", dashboard_url %></li>
      <% if user_signed_in? %>
  <li><%= link_to ('Logged in as ' + current_user.email), edit_user_registration_path, :class => 'navbar-link' %> </li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
<% else %>
  <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
  <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
<% end %>
    </ul>
    </nav>
  </div>
</header>
<div class="container">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
</div>

</body>
</html>